.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/*panel*/
.panel{
  box-shadow: 1px 1px 0 rgba(17,17,17,0.2);
  height: 135px;
}

.panel-heading{
	display: inline-block;
	width: 100%;
}
.panel-title{
  font-weight: 300;
	float:left;
	font-size: 14px;
}

.panel-body {
  padding: 20px 40px 30px 40px; 
}

.panel-time{
	margin-right: -8px;
  margin-top: -2px;
  background: rgb(50, 50, 50);
  float: right;
  font-size: 11px;
  color: white;
  padding: 2px 7px;
  border-radius: 40px;
  margin-bottom: -2px;
}

h4{
  font-weight: 200;
  color: rgb(47, 47, 47);
  margin: 0px;
  text-align: center;
}