.label-success{
	line-height: 2.4;
	margin: 20px;
	font-size: 18px;
	padding: 10px 14px;
	font-weight: 200;
	margin-top: 5px;
}

h1{
	font-weight: 200;
	margin-top: 0px;
	margin-bottom: 0px;
}

#category{
	margin: 3px 0px;
	color: white;
	background: rgb(133, 100, 202);
}

#AppBundleFormTypeAnswerType_value{
	height: 62px;
	resize: none;
}

.answer-button{
	height: 60px;
}

.avatar{
	border-radius: 5px;
}

.well.answer, .form-group{
	margin-bottom: 0;
}

.answer-date{
	color: grey;
}

.panel-answer{
	opacity: 0.5;
}

#answer-approved{
	top: -15px;
	z-index: 100;
	position: absolute;
	right: 0px;
	color: rgb(92, 184, 92);
}

#answer-approve{
	top: -15px;
	z-index: 100;
	position: absolute;
	right: 0px;
	cursor: pointer;
	opacity: 0.5;
}

#answer-approve:hover{
	opacity: 1;
}