.label-success{
	line-height: 2.4;
	margin: 20px;
	font-size: 18px;
	padding: 10px 14px;
	font-weight: 200;
	margin-top: 5px;
}

h1{
	font-weight: 200;
	margin-top: 0px;
	margin-bottom: 0px;
}

#question{
	overflow: hidden;
}

#category{
	margin: 3px 0px;
	color: white;
	background: rgb(133, 100, 202);
}

#AppBundleFormTypeAnswerType_value{
	height: 62px;
	resize: none;
}

.answer-button{
	height: 60px;
}

.avatar{
	border-radius: 5px;
}

.well.answer, .form-group{
	margin-bottom: 0;
}

.answer-date{
	color: grey;
}

.panel-answer{
	opacity: 0.5;
}

#answer-approved{
	top: -15px;
	z-index: 100;
	position: absolute;
	right: 0px;
	color: rgb(92, 184, 92);
}

#answer-approve{
	top: -15px;
	z-index: 100;
	position: absolute;
	right: 0px;
	cursor: pointer;
	opacity: 0.5;
}

#answer-approve:hover{
	opacity: 1;
}

#cover-upload{
	display: none;
}

#cover-place{
	margin-top: -15px;
	text-align: center;
	padding: 10px;
	font-size: 46px;
	background: rgb(131, 33, 33);
	margin-bottom: 15px;
	cursor: pointer;
	opacity: 0.9;
}

#cover-place:hover{
	opacity: 1;
}

#cover-place:hover .fa{
	color: white;
}

#cover-place .fa{
	color: rgb(165, 165, 165);
	margin: 10px;
}

.is-set-cover{
	height: 200px;
	opacity: 1 !important;
	padding: 60px !important;
	background-size: 100% !important;
	border-bottom: 1px solid rgb(232, 232, 232);
}

.is-set-cover .fa{
	opacity: 0;
	text-shadow: 0px 0px 1px grey;
}

.is-set-cover:hover .fa{
	opacity: 1;
}